<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.raizlabs.android.dbflow.test"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="com.raizlabs.android.dbflow.sqlcipher, net.sqlcipher"/>

    <application android:name=".DBFlowTestApp">
        <provider
            android:name=".provider.TestContentProvider_Provider"
            android:authorities="com.raizlabs.android.dbflow.test.provider"
            android:exported="true"/>

    </application>

</manifest>
