<manifest
    package="com.raizlabs.dbflow5.dbflow.test"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name="com.raizlabs.dbflow5.dbflow.DemoApp"
        android:label="DB Flow Compiler Test">
        <activity
            android:name="com.raizlabs.dbflow5.dbflow.test.DemoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
