<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dbflow5.test">

    <application
        android:name="com.dbflow5.DemoApp"
        android:allowBackup="false"
        android:label="DB Flow Compiler Test">
        <provider
            android:name="com.dbflow5.StubContentProvider"
            android:authorities="com.grosner.content" />
        <activity
            android:name="com.dbflow5.test.DemoActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
